{% extends 'base_inspinia.html.twig' %}

{% block nav %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Accueil - Statistiques</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <strong>Accueil</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
            <div class="title-action">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
		<div class="row">
            <div class="col-xs-12">
                <div class="ibox">
                    <div class="ibox-content">
						<p>Statistiques prévu le 29/07/2016</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
