<div class="animated fadeInRight">
	<div class="ibox">
		<div class="ibox-title">
			<h5>{{ project.name }}</h5>
			<div class="ibox-tools">
				<a class="btn btn-primary btn-xs action_project_add">Ajouter une photo</a>
			</div>
		</div>
		<div class="ibox-content">
			
		</div>
	</div>
</div>