<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">

            </li>
            {% if is_granted('ROLE_ADMIN') %}
			
			{% elseif is_granted('ROLE_USER') %}

            {% endif %}
        </ul>
    </div>
</nav>
