<nav class="one-page-header one-page-header-style-2 top-nav-collapse navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="top-contact-block">
			<i class="fa fa-phone fa-1"></i> {{ web_phone }}
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<div class="menu-container">
				<ul class="nav navbar-nav">
					<li class="page-scroll home">
						<a href="#body">Accueil</a>
					</li>
					<li class="page-scroll">
						<a href="#expertise">Savoir faire</a>
					</li>
					<li class="page-scroll">
						<a href="#portfolio">Réalisations</a>
					</li>
					<li class="page-scroll">
						<a href="#contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>